---
title: Welcome to Middleman
---

.welcome
  - images = ['Mai.jpg', 'Januar.jpg', 'Februar.jpg', 'Maerz.jpg', 'April.jpg', 'Mai.jpg', 'Juni.jpg', 'Juli.jpg']
  - images.each do |image|
    = image_tag image, class: "content-image"
